h1 {
  font-style: normal; font-weight: 2000; color: #00BFFF; border: 5px solid black; : padding: 30px;
}

body {
  color: #000000
}



body
  background: lightgray
section
  background: white
  width: 80%
  padding: 1em
  overflow: auto
  min-width: 30em
  max-width: 50em
  margin: auto
h1
  font-size: 3em
  margin-bottom: 0.5em
  font-family: sans-serif
code
  font-family: monospace
  font-size: 0.85em
  background: hsla(0, 0, 100, 0.7)
  border: hsla(0, 0, 0, 0.3) solid 1px
  padding: 0.1em
  vertical-align: baseline
    


div
  font-size: 18px
  line-height: 1.3em
  vertical-align: top
  margin-bottom: 1em
  border-radius: 0.5em
  padding: 1em
  box-sizing: border-box
  width: 45%
  

.ib
  background: salmon
  border: solid red 1px
  display: inline-block
    

.float
  background: lightgreen
  border: solid green 1px
  float: left
    
// These elements are intended to be half the width of their 
// parents
.half
  width: 50%
    
